.selectWrapper {
  display: flex;
  gap: 12px;
}

.selectWrapper > * {
  flex: 50%;
}

.selectWrapper > span {
  display: none;
}

.select {
  gap: 4px;
}

.select > label {
  font-size: 12px;
}

.header {
  padding: calc(var(--base) * 8) 0 calc(var(--base) * 2);
}

.selectGroup {
  padding: 0;
}

.titleBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #fff;
  padding: 0 20px;
  margin: 20px 0;
  font-weight: bold;
}

.green {
  color: var(--green);
}

.red {
  color: var(--text-red);
}

.year {
  display: flex;
  justify-content: center;
  align-content: center;
  color: var(--green);
  font-weight: bold;
  margin-bottom: 12px;
}
