.wrapper {
  display: flex;
  padding-top: calc(var(--base) * 10);
  gap: calc(var(--base) * 6);
  flex-wrap: wrap;
}

.wrapper > * {
  flex: 0 0 48%;
}

.accordionLink {
  border-radius: 0;
  height: 40px;
  box-shadow: unset;
}

.accordionLink:hover {
  background-color: #ebeaeb;
}

@media screen and (max-width: 1024px) {
  .wrapper > * {
    flex-grow: 1;
  }
}
