.login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.logoWrapper {
  width: 60%;
  margin: calc(var(--base) * 30) 0 calc(var(--base) * 8);
}

.logoWrapper > img {
  width: 100%;
  height: 100px;
}

.form {
  width: 100%;
}

.form .error {
  width: 100%;
  text-align: center;
  color: var(--text-red);
}

.form.manage {
  margin-top: calc(var(--base) * 30);
}

.submit {
  position: unset;
  margin-top: calc(var(--base) * 8);
}
