.wrapper {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  position: relative;
  /* padding-right: calc(24px + 8px); */
  font-size: 14px;
  line-height: 24px;
  color: #484848;
  font-weight: 600;
  cursor: pointer;
  height: 40px;
  /* min-width: 40px; */
  text-align: center;
  user-select: none;
}

.wrapper > input {
  visibility: hidden;
  position: absolute;
}

.wrapper > span {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  /* height: 7px; */
}

.wrapper > input[type="radio"]:checked + span {
  /* border: 3px solid var(--blue); */
  height: 3px;
  background-color: var(--blue);
}
