.wrapper {
  height: 40px;
  box-shadow: 0px 0px 6px -1px var(--gray);
  border: none;
  border-radius: calc(var(--base) * 2);
  padding: calc(var(--base) * 2) calc(var(--base) * 4);
  position: relative;
}

.label {
  margin-bottom: calc(var(--base) * 4);
  display: block;
}

.placeholder {
  position: absolute;
  right: calc(var(--base) * 4);
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  pointer-events: none;
}

.bigWrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  border-radius: calc(var(--base) * 2);
  box-shadow: 0px 0px 6px -1px var(--gray);
  padding: calc(var(--base) * 4);
}

.daysWrapper {
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--base) * 3);
  justify-content: center;
}

.iconWrapper {
  flex: 100% !important;
  width: 100%;
}

.iconWrapper > svg {
  cursor: pointer;
}

.daysWrapper > * {
  flex: 0 0 30%;
}

.noEvents {
  pointer-events: none;
}
