.submit {
  position: unset;
  margin-top: calc(var(--base) * 8);
}

.successWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  /* background-color: red; */
}

.successWrapper > img {
  width: 100px;
}

.successWrapper > strong {
  margin-top: 50px;
}
