.modalWrapper {
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.modalWrapper .btn {
  position: unset;
  margin-top: auto;
  margin-bottom: 20px;
}

.table {
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
}

.header.row {
  margin-top: calc(var(--base) * 5);
  background-color: var(--yellow);
  align-items: center;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: calc(var(--base) * 2) 0;
}

.cell {
  flex: 1;
  text-align: center;
}
