.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: calc(var(--base) * 10);
}

.byDate {
  display: flex;
  gap: calc(var(--base) * 2);
}

.byValue {
  min-width: 40%;
}
