.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--base) * 8) 0;
}

.wrapper > h2 {
  color: #002251;
}

.link {
  background-color: var(--yellow);
  width: 140px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  padding: 0 calc(var(--base) * 2);
  border-radius: var(--base);
}

.link > span {
  flex-grow: 1;
  text-align: center;
}
